<div class="login_form">
    <label>LOG IN FORM</label>
    <form action="/student_login" method="POST">
        <label>Username : </label><input type="text" name="username"><br>
        <label>Password : </label><input type="password" name="password"><br>
        <button type="submit" class="btn-success">Log In</button>
    </form>
</div>

<div id="sign_up">
    <form action="/student_signup" method="POST" enctype="multipart/form-data">
        <h2>SIGN UP FORM</h2>
        <input type="text" name="reg_no" placeholder="Registration Number" required><br>
        <input type="text" name="name" placeholder="Full Name" required><br>
        <input type="text" name="email" placeholder="Varsity E-Mail Address" required><br>
        <input type="text" name="contact_no" placeholder="Contact Number" required><br>
        
        <label>University : </label>
        <select name="Varsity" required>
            <option value="NSU">North South University</option>
            <option value="IUB">Independent University of Bangladesh</option>
            <option value="UAP">University of Asia Pacific</option>
            <option value="IUT">Islamic University of Technology</option>
        </select><br>

        <input type="password" name="password" placeholder="Enter a Password" required><br>
        <label>Picture 1 : </label><input type="file" name="picture_1" required><br>
        <label>Picture 2 : </label><input type="file" name="picture_2" required><br>
        <label>Picture 3 : </label><input type="file" name="picture_3" required><br>
        <button type="submit" class="btn-success">Sign Up</button>
    </form>
</div>
